@font-face {
  font-family: 'Panchang';
  src: url('Panchang-Variable.woff2') format('woff2'),
       url('Panchang-Variable.woff') format('woff');
       font-weight: bold;
       font-style: normal;
  font-display: swap;
}

body, html {
  background: #E01F26;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1rem;
  color: #FFFBEA;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  text-align: center;

}

h1, h2, h3 {
  font-family: 'Panchang', 'Open Sans', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

h1 {
  font-size: x-large;
  margin-right: -0.5rem;
  color: #FFFBEA;
}

h2 {
  font-size: larger;
}

h3 {
  font-size: small;
  text-align: justify;
}

.bodytext-container { 
  /* text-align: justify; */
  padding: 5rem 4.5rem 5rem 4.5rem;
}

/* scroll bar */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.progress-container, .progress-bar {
  width: 100%;
  height: 0.5rem;
}

.progress-bar {
  background: #FEC20F;
  width: 0;
}

/* Navbar */
.navbar {
  color: #E01F26;
  position: fixed;
  width: 100%;
  height: 5rem;
  top: 0;
  z-index: 999;
}

#logo {
  float: left;
  max-height: 85%;
  padding-top: 0.5rem;
}

#bmenu {
  margin: 0 auto;
  font-size: 3rem; 
  cursor: pointer;
  position: absolute;
  right: 0.8rem;
  top: 48%; 
  transform: translateY(-50%); 
}

/* Burger menu overlay */
.overlay {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2D2D2D;
  background-size: cover;
}

.overlay-content {
  margin: 0 auto;
  position: relative;
  top: 30%;
  text-align: center;
}

.overlay a {
  font-family:'Open Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: large;
  color: #FFFBEA;
  padding: 1rem;
  display: block;
  transition: 0.3s;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.375));
}

#contact {
  color:#E01F26;
}

.overlay a:hover, .overlay a:focus {
  color: #FEC20F;
  filter: none;
}

#contact:hover {
  color:#FEC20F;
}

.overlay .closebtn {
  position: absolute;
  right: 0.2rem;
  font-size: 2.5rem;
}

/* Homepage Header */
.header-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#logoGif {
  width: 20rem; 
  height: auto;
}

@media screen and (min-width: 768px) {
  #logoGif {
    width: 65vh; 
  }
}

.header-layout h1 {
  margin-top: -0.5rem;
  font-size: xx-large;
}

#arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  padding-bottom: 2rem;
  color: #FFFBEA;
  filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.183));
  z-index: 1;
}

.classImage {
  background-image: url(images/class.jpg);
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.classImage h1 {
  filter: drop-shadow(0px 4px 5px rgb(0, 0, 0));

}

/* about us text */
#text-background {
  background-color: #FFFBEA;
}

.about-us {
  color: #2D2D2D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  margin: 0 auto;
  padding: 0;
}

.text-reveal p:nth-child(4) {
  font-family: 'Panchang', 'Open Sans', sans-serif;
  color: #029B83;
  line-height: 1.3;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  padding: 2rem 0;
}

.about-us span {
  opacity: .1;
  transition: opacity .2s ease;
}

@media screen and (min-width: 768px) { 
  .about-us {
    width: 60vw;
    min-height: 0;
    font-size: 2rem;
    text-align: justify;
  }
}

/* gallery */
.gallery-container {
  background-color: #2D2D2D;
}

.gallery {
  background-color: #2D2D2D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery-start {
  background-color: #2D2D2D;
  padding-bottom: 100vh;
  display: grid;
  gap: 2.5rem;
  /* grid-template-columns: repeat(1, 1fr); */
  text-align: center;
  margin: 0 5rem;
}

@media screen and (min-width: 768px) {
  .gallery-start {
    grid-template-columns: repeat(2, 2fr);
    margin: 0 20%;
  }
}

/* .gallery {
  padding: 0;
} */

.gallery h1 {
  opacity: 0.5;
}

.gallery-item {
  position:relative;
  z-index: 1;
  display: inline-block;
  /* margin: 10px; */
  /* overflow: hidden; */
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.506));
}

.gallery-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.student-name {
  position: absolute;
  padding: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  color: #FFFBEA;
  font-size: 60%;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.81));
}


.gallery-item .gallery-image {
  transition: transform 0.5s ease-out;
}

/* Hover effect */
.gallery-item:hover .gallery-image {
  transform: scale(1.1);
}

/* Overlay text */
.gallery-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-item:hover .gallery-overlay {
  visibility: visible;
  opacity: 1;
}

/* catalogue */
.catalogue {
  background-color:#E01F26;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#catalogueIMG {
  max-width: 30%; 
  height: auto;
}

/*Download button - edited - Gab*/
.redbutton-link {
  background-color: #2D2D2D;
  color: #FFFBEA;
  text-decoration: none;
  margin: 0 auto;
  padding: 1rem;
  width: 15rem;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.506));
  transition: background-color 0.3s ease;
  text-align: center;
}

.redbutton-link:hover {
  /* background-color: #FEC20F; */
  background-color: #029B83;
}

@media screen and (max-width: 768px) {
  #catalogueIMG {
    max-width: 50%; 
  }
}

/* contact us */
.contact {
  background-color: #2D2D2D;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.custom-button {
  position: relative;
  display: inline-block; /* Change display to inline-block to fit content */
}

.button-shape {
  width: 50vh;
  height: auto;
  filter: drop-shadow(5px 8px 0px black);
}

@media screen and (max-width: 768px) {
  .button-shape {
    width: 30vh;
  }
}

.button-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2D2D2D;
}

.custom-button:hover .button-shape {
  filter: drop-shadow(5px 8px 0px black);
}

.custom-button:hover .button-shape {
  content: url('assets/shape-b.png');
}

.custom-button:hover .button-text {
  color:#FFFBEA;
}
  
/* --------- social media bar ----------- */
.icon-bar {
  background-color: #2D2D2D;
  display: flex; 
  align-items: center;
}

.icon-bar a {
  flex: auto;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: #FFFBEA;
  font-size: 150%;
  height: 2rem;
}

.icon-bar .instagram:hover {
  background: #FEC20F;
  color: #2D2D2D;
}

.icon-bar .facebook:hover {
  background: #045A70;
  color: #FFFBEA;
}

.icon-bar .twitter:hover {
  background: #E01F26;
}

.icon-bar .tiktok:hover {
  background: #FFFBEA;
  color: #2D2D2D;
}

.icon-bar .linktree:hover {
  background: #029B83;
  color: #FFFBEA;
}

/* Contact Us */
.contact-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 93vh;
  background-color: #2D2D2D;
}

.contact-image {
  flex: 1 1 40%; 
  max-width: 40%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-image img {
  width: calc(80% - 2rem);
  height: auto; 
  filter: drop-shadow(2px 2px 0 #FFFBEA)
          drop-shadow(-2px 2px 0 #FFFBEA)
          drop-shadow(2px -2px 0 #FFFBEA)
          drop-shadow(-2px -2px 0 #FFFBEA); 
}

.contact-form {
  flex: 1 1 60%; /* Takes up 60% of the flex container */
  max-width: 40vw;
  color: #FFFBEA;
  box-sizing: border-box;
  padding: 0 2rem 2rem 2rem;

}

.contact-form h1 {
  text-align: left;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .contact-image, .contact-form, .contact-form h1 {
    flex: 1 1 100%; 
    max-width: 70vw;
    text-align: center; 
    font-size: medium;

  }
  .contact-image {
    margin-top: 3rem;
    margin-bottom: 1rem;
    /* max-width: 50%; */
  }

  .contact-form label {
    text-align: left;
    font-size: small;
  }
}

.contact-form input[type="email"],
.contact-form textarea {
  background-color: #FFFBEA;
  font-family: 'Open Sans', sans-serif;
  font-size: small;
  width: 100%;
  /* width: calc(100% - 2rem); */
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.contact-form textarea {
  height: 120px;
  resize: vertical;
}

.contact-form input[type="submit"] {
  background-color: #E01F26;
  color: #FFFBEA;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
  background-color: #029B83;
}

/* Sponsor page */


